*{
  font-family: 'Roboto', sans-serif;

}

ul{
    list-style-type: none;
  }

li{
  padding:5px;
}

#muscle-image{
    background-image: url(https://wger.de/static/images/muscles/main/muscle-4.svg), 
    url(https://wger.de/static/images/muscles/muscular_system_front.svg);

    width:180px;
    height: 276px;
    background-size: 150px;
    background-repeat: no-repeat; 
    position: relative;
    top: 40px;
    margin: auto;
}

li.exercise.red{
  color:red;
}

li.exercise{
  color:#140c7e;
  font:14px/20px 'Open Sans', Arial, sans-serif;
}

li.exercise:hover{
  text-decoration: underline;
}


#header-col > h1{
  margin:auto;
  display:inline;
  font-family: 'Permanent Marker', cursive;
}

header{
  background-color: #fbebb2;
  padding-top: 10px;
  padding-bottom: 10px;
}

#intro>img {
    width: 450px;
    margin: auto;
    display: block;
}

#intro>p,
#intro>h2{
  text-align: center;
}

#intro>button{
  margin: auto;
  display: block;
}

#exercise-page{
  width:0; 
  height:0;
  opacity: 0;
  transition:all .5s;
  background-color: #fbebb2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index:10;
  position: fixed;
  margin:auto;
}

#exercise-page.show{
  width: 65vw;
  height: 500px;
  overflow: scroll;
  opacity: 1;
}


.giph iframe{
  width:250px; 
  height:250px;
  pointer-events: none;
}

.giph{
  text-align: center;
  width: 100%;
}

.fa-times{
  float:right;
  font-size: 24px;
  padding: 7px;
}

.fa-dumbbell{
  display:inline;
  font-size:30px;
  padding:7px;
  color:white;
}

#exercise-section > p,
#muscle-form>legend>p {
    font-style: italic;
    font-size: 13px;
}

.description{
  display: block;
  margin: auto;
  text-align: center;
}