*{
  font-family: 'Roboto', sans-serif;

}

ul{
    list-style-type: none;
  }

li{
  padding:5px;
}

#muscle-image{
    background-image: url(https://wger.de/static/images/muscles/main/muscle-4.svg), 
    url(https://wger.de/static/images/muscles/muscular_system_front.svg);

    width:180px;
    height: 276px;
    background-size: 150px;
    background-repeat: no-repeat; 
    position: relative;
    top: 40px;
}

li.exercise.red{
  color:red;
}

li.exercise{
  color:#140c7e;
  font:14px/20px 'Open Sans', Arial, sans-serif;
}

li.exercise:hover{
  text-decoration: underline;
}

/*li.red:first-child:before {
    content: "best matches";
    display: block;
}

li.red:last-child:after {
    content: "the rest";
    display: block;
}*/

#header-col > h1{
  margin:auto;
}

header{
  background-color: orange;
}

#exercise-page{
  width:0; 
  height:0;
  opacity: 0;
  transition:all .5s;
  background-color: orange;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index:10;
  position: fixed;
  margin:auto;
}

#exercise-page.show{
  width: 65vw;
  height: 500px;
  overflow: scroll;
  opacity: 1;
}

/*style="width:100%;height:0;padding-bottom:69%;position:relative;"
width="100%" height="100%" style="position:absolute"
*/

.giph iframe{
  width:250px; 
  height:250px;
  pointer-events: none;
}

.giph{
  text-align: center;
  width: 100%;
}

.fa-times{
  float:right;
  font-size: 24px;
  padding: 7px;
}